*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-image: url('../cowspot.png');
    background-position: center;
}

div{
    text-align: center;
    padding: 20px;
}
.title{
    font-size: 35px;
    margin-top: 150px;
}

.question{
    font-size: 25px;
}