<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='/CSS/matt.css') }}">
    <title>Moo Moo</title>
</head>

<body>
    <form method="POST" action="">
        <div class="title">
            <h4>How many cows have you eaten in your life time?</h4>
        </div>
        <div class="question">How old are you?</div>
        <div>
            {{ form.hidden_tag() }}
            {{ form.years(class='form_style') }}
        </div>
        <div class="question">In avarage how many times do you eat beef in a week?</div>
        <div>
            {{ form.hidden_tag() }}
            {{ form.beef(class='form_style') }}
        </div>
        <div>{{ form.submit(class='form_style', id='submit') }}</div>
    </form>
</body>

</html>